body {
  --background-colour: rgb(14, 30, 99);
  --text-colour: #ddf;
  --box-shadow: 4px 4px 1px hsla(100, 100%, 100%, 0.2);
  background-color: var(--background-colour);
  color: var(--text-colour);
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

h1 {
  margin-top: 0;
  font-size: 5vw;
}

subtitle {
  font-size: 2.5vw;
  margin-top: 1em;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

#content {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.title-page {
  font-family: ap_letter, Arial;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.digital-id-logo {
  width: 100vw;
  margin: auto;
}

.code {
  font-family: Courier New, Courier, monospace;
}

.screw-you, .fixed {
  width: 90vw;
  height: 90vh;
  margin: auto;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.screw-you img, .fixed img {
  width: 45%;
}

.screw-you::after {
  content: '😞😞😞😞😞😞😞😞😞😞';
}
.fixed::after {
  content: '💩💩💩💩💩💩💩💩💩💩';
  animation: 3s linear 3s forwards poo-appear;
  opacity: 0;
}
.screw-you::after, .fixed::after {
  font-size: 10vw;
  position: fixed;
  top: 80vh;
  left: calc(50% - 50vw);
}

@keyframes poo-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ie-logo {
  animation: 500ms ease-in-out 1s forwards crooked;
}

@keyframes crooked {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-.18turn);
  }
}

.centred-image {
  max-width: 100vw;
  max-height: 100vh;
  margin: auto;
  width: 100%;
}

.form {
  height: 100vh;
  margin: auto;
}

.usage {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.pie60 {
  fill: transparent;
  stroke: hsla(100, 50%, 50%, 0.2);
  stroke-width: 50;
  stroke-dasharray: 0 380;
  transform: rotate(-.25turn);
  background: transparent;
  border-radius: 50%;
  margin: auto;
  animation: fillup 1s linear forwards;
  box-shadow: 2px 2px 4px #0f0, -2px -2px 4px #0f0;
}

.usage::before, .usage::after {
  font-family: Courier New, Courier, monospace;
  position: absolute;
  font-size: 2em;
  color: var(--text-colour);
  text-shadow: 1px 1px purple;
}
.usage::before {
  content: 'smartphone';
  top: 52%;
  left: calc(50% - 8em);
  z-index: 1;
}
.usage::after {
  content: 'desktop';
  top: 45%;
  left: calc(50% + 2em);
}

@keyframes fillup {
  to { stroke-dasharray: 60 380 }
}

.whole-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.audit-options {
  margin: auto;
  border: 1px solid #888;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.initial-scores {
  position: relative;
  display: grid;
  margin: auto;
  grid-template-columns: 50% 50%;
  transition: transform 1s;
}

.initial-scores > score-dial {
  width: 40vw;
  margin: 2vw;
}

.single-score {
  margin: auto;
}

.code-examples {
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: fixed;
  top: 10vh;
}

.code-examples pre {
  background-color: var(--text-colour);
  color: var(--background-colour);
  padding: 0.5em;
  margin: 6vw 3vw;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--text-colour);
}

.code-examples pre:hover {
  background-color: var(--background-colour);
  color: var(--text-colour);
}

.left {
  align-self: flex-start;
}
.right {
  align-self: flex-end;
}

.performance-tab {
  transition: opacity 3s;
}

.lemming {
  display: none;
  opacity: 0;
  margin: auto;
}

.explosion {
  display: block;
  opacity: 0;
  animation: 5s explode forwards;
}

@keyframes explode {
  20% {
    opacity: 1;
  }
  60% {
    width: auto;
  }
  99% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.tall.centred-image {
  width: auto;
  height: 100%;
}

.overlay-caption {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.certificate {
  margin: auto;
}

.deprecated {
  margin: auto;
  background-color: #ffe7e8;
  border-left: 10px solid #e66465;
  padding: 20px;
}

.deprecated img {
  height: 10vh;
}

.notification {
  --border: 1px solid grey;
  --box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, .4);
  border: var(--border);
  border-radius: 2px;
  display: flex;
  margin: auto;
  box-shadow: var(--box-shadow);
  position: relative;
}

.notification::before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  transform: rotate(.125turn);
  background-color: white;
  top: -11px;
  left: 15px;
  border-left: var(--border); 
  border-top: var(--border);
  box-shadow: var(--box-shadow);
}

.tweet {
  height: 90vh;
  margin: auto;
  margin-bottom: 0;
}

.measures {
  margin: auto;
  width: 80vw;
  font-size: 2em;
}

.measure {
  width: 3px;
  margin: 1em 0;
  border: 4px solid;
  animation: 2s grow-measure forwards 100ms;
}

@keyframes grow-measure {
  from { width: 0 }
  to { width: 100% }
}

.measure.index {
  max-width: 50%;
}
.measure.latency {
  max-width: 3%;
}
.measure.paint {
  max-width: 25%;
}
.measure.interactive {
  max-width: 65%;
}

.slow {
  border-color: red;
}
.fast {
  border-color: green;
}
.medium {
  border-color: orange;
}

.measures > div {
  transition: transform .5s, border-width .5s, padding .5s;
}

.measures > div:hover  {
  transform: scale(1.1);
  padding: 20px;
  background-color: var(--background-colour);
  border: 4px solid;
  position: relative;
}

.measures.after > div:hover {
  transform: none;
  padding: initial;
  border: none;
}

.controller.embiggen, .cloak.embiggen {
  color: #0f0;
}

.shit-loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  background-size: cover;
  background-position: center;
  animation: 2s slow-load forwards 5330ms;
}

@keyframes slow-load {
  from { background-image: none }
  to { background-image: url('images/landing-page.png') }
}

.pwa-factors {
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;  
}
.pwa-factors img {
  margin: auto;
  max-width: 20vw;
}

.shrug {
  margin: auto;
  font-size: 20vw;
}

.seo {
  margin: auto;
  font-size: 10vw;
  text-align: center;
}
.seo::before {
  content: url('images/new.png');
  position: fixed;
  top: .5em;
  left: .5em;
  width: 25vw;
}














.big-text {
  color: var(--text-colour);
  margin: auto;
  font-size: 100px;
}

.bounce-in {
  animation: 1s bounce-in ease-in-out forwards;
}

@keyframes bounce-in {
  0% {
    transform: translateX(150vw);
  }
  50% {
    transform: translateX(-8%);
  }
  65% {
    transform: translateX(4%);
  }
  80% {
    transform: translateX(-4%);
  }
  95% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(0%);
  }
}

.fall-down {
  animation: fall-down 1s forwards ease;
  transform-origin: bottom center;
}

@keyframes fall-down {
  40% {
    transform: rotate(230deg);
  }
  70% {
    transform: rotate(170deg);
  }
  to {
    transform: rotate(190deg);
  }
}

.whole-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.limitations {
  margin: auto;
  margin-top: 10vw;
}

.limitations h2 {
  font-size: 4em;
}
.limitations ul {
  font-size: 3em;
}
.limitations label {
  opacity: 0;
}
.limitations label:hover, .limitations input:checked + label {
  opacity: 1;
}
.limitations input {
  opacity: 0;
  width: 0;
}

.summary {
  display: flex;
}
.summary img {
  height: 100vh;
  max-width: 50vw;
}
.summary>div {
  font-size: 5vw;
  display: flex;
  flex-direction: column;
  margin: 2vw;
  justify-content: space-around;
}







.zoomed {
  transform: scale(2);
}



.loaded, .loading {
  background-size: cover;
  background-position: center;
}

.loaded {
  background-image: url('images/landing-page.png');  
}

.better-loading {
  background-image: url('images/landing-page-no-middle.png');
}

.big-text {
  font-size: 4vw;
  margin-left: 10vw;
}

.medium-text {
  font-size: 2vw;
  margin-left: 5vw;
}

.build-container {
  display: flex;
  flex-direction: column;
}

.build-process {
  display: flex;
  flex-direction: row;
}

.highlight-on-hover:hover {
  color: #0f0;
}
